@model NewDrink2.Models.User

@{
    Layout = "~/Views/Shared/_MyUserLayoutPartial.cshtml";
    ViewBag.Title = "刪除成員";
}

<h2 class="text-danger">@ViewBag.Title</h2>
<div>
    <h4>使用者: @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayName("身分")
        </dt>
        <dd>
            @{
                Html.RenderAction("_DetailsIdentityPartial", new { ID = Model.ID });
            }
        </dd>
        <dt>
            @Html.DisplayName("權限")
        </dt>
        <dd>
            @{
                Html.RenderAction("_DetailsCanDoPartial", new { ID = Model.ID });
            }
        </dd>
    </dl>
</div>

<br />
@using (Html.BeginForm())
{
    <div class="form-action no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("返回", "MyUser", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    </div>
}
